### Ty Johnson
### Assignment 4
### Spring 23
### Version 0

In [3]:
for value in range (0,100):
    if (value % 3 == 0 and value != 0 and value != 3):
        print(value, '*')
    else:
        print(value)

0
1
2
3
4
5
6 *
7
8
9 *
10
11
12 *
13
14
15 *
16
17
18 *
19
20
21 *
22
23
24 *
25
26
27 *
28
29
30 *
31
32
33 *
34
35
36 *
37
38
39 *
40
41
42 *
43
44
45 *
46
47
48 *
49
50
51 *
52
53
54 *
55
56
57 *
58
59
60 *
61
62
63 *
64
65
66 *
67
68
69 *
70
71
72 *
73
74
75 *
76
77
78 *
79
80
81 *
82
83
84 *
85
86
87 *
88
89
90 *
91
92
93 *
94
95
96 *
97
98
99 *

In [127]:

month = int(input('Enter Month in Number Format: '))

monthNames = ['January', 'Febuary', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
if (month >= 1 and month <= 12):
    if (month == 2):
        print(monthNames[month - 1], 'has', 28, ' days')
    elif (month == 4 or month == 6 or month == 9 or month == 11):
        print(monthNames[month - 1], 'has', 30, ' days')
    else:
        print(monthNames[month - 1], 'has', 31, ' days')
else:
    print('Invalid Input')

Enter Month in Number Format: 1
January has 31  days

In [98]:
number = int(input('Enter a number: '))

if (number > 1):
    for i in range(2, number):
        if (number % i and i != number) == 0:
            print(number, "is not a prime number")
            break
    else:
        print(number, "is a prime number")
    
else:
    print(number, "is not a prime number")

Enter a number: 8
8 is not a prime number

In [128]:
a = int(input('Enter Triangle Side A: '))
b = int(input('Enter Triangle Side B: '))
c = int(input('Enter Triangle Side C: '))

if (a == b and a == c):
    print('Triangle is an equilateral triangle.')
elif (a != b and a != c and b != c):
    print('Triangle is a scalene triangle.')
else:
    print('Triangle is an isosceles triangle')

Enter Triangle Side A: 2
Enter Triangle Side B: 2
Enter Triangle Side C: 2
Triangle is an equilateral triangle.

In [29]:
age = [23,42,9,71,65,24,35,14,80,56]
age.append(int(input('Enter Age to add to database: '))) #extra step to utilize user input

for i in age:
    if (i < 18):
        print(i, ': Minor')
    elif (i >= 18 and i < 64):
        print(i, ': Adult')
    else:
        print(i, ': Senior Citizen')

Enter Age to add to database: 23
23 : Adult
42 : Adult
9 : Minor
71 : Senior Citizen
65 : Senior Citizen
24 : Adult
35 : Adult
14 : Minor
80 : Senior Citizen
56 : Adult
23 : Adult